/* Container personalizado */
.container {
    background: linear-gradient(90deg, #007bff, #0056b3);
    /* Gradiente azul */
    color: #ffffff;
    /* Texto branco */
    border-radius: 10px;
    /* Bordas arredondadas */
    padding: 20px;
    /* Espaçamento interno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    /* Sombra suave */
}

.container-alterar {
    background: linear-gradient(90deg, #007bff, #0056b3);
    /* Gradiente azul */
    color: #ffffff;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

/* Card personalizado */
.card {
    background: #103667;
    /* Azul escuro sólido */
    color: #ffffff;
    /* Texto branco */
    border-radius: 10px;
    /* Bordas arredondadas */
    padding: 15px;
    /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
    margin-bottom: 15px;
    /* Espaçamento inferior entre os cards */
}

/* Títulos e textos nos cards */
.card h1,
.card h2,
.card h3 {
    color: #fff;
    /* Azul claro para destacar os títulos */
}

.card p {
    font-size: 16px;
    line-height: 1.5;
}

/* Botões nos cards */
.card button {
    background: #0056b3;
    /* Azul escuro */
    color: #ffffff;
    /* Texto branco */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.card button:hover {
    background: #007bff;
    /* Azul mais claro ao passar o mouse */
}

body {
    background: linear-gradient(90deg, #004e92, #000428);
    /* Gradiente para a barra */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 20px;
}

.col-md-12 {
    background-color: #fff;
    padding-top: 15px;
}

#copy-area {
    padding-top: 15px;
}


.banner {
    width: 1200px;
    height: 400px;
}

input {
    font-size: 20px;
}

input[type=number]::-webkit-inner-spin-button {
    width: 30px;
    height: 50px;
    margin: 17px;
    padding: 5px;
    transform: rotate(90deg);
    filter: sepia(100%) hue-rotate(90deg);
    cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.estilo-echo {
    color: green;
    font-size: 18px;
    font-style: oblique;
}

/* Estilos personalizados para a navbar */
.navbar {
    background: linear-gradient(90deg, #004e92, #000428);
    /* Gradiente para a barra */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    /* Sombra para dar profundidade */
}

.navbar .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.navbar .navbar-nav .nav-link {
    color: #f0f0f0;
    font-size: 18px;
    margin-left: 15px;
    transition: color 0.3s ease;
    /* Efeito suave de transição */
}

.navbar .navbar-nav .nav-link:hover {
    color: #00c3ff;
    /* Cor ao passar o mouse */
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%281, 155, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.form-group {

    margin-bottom: 20px;
    padding: 10px;
    background: linear-gradient(90deg, #004e92, #000428);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.form-group label {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #CAE5E8;
    color: #333333;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.form-group select:focus {
    border: 1px solid #00c3ff;
    box-shadow: 0 0 8px rgba(0, 195, 255, 0.5);
}

/* Estilo Geral para a Tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave ao redor da tabela */
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 20px;
}

/* Estilo dos Cabeçalhos */
.table th {
    background-color: #56bdf5;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

/* Cores alternadas nas linhas */
.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:nth-child(odd) {
    background-color: #fff;
}

/* Efeito de hover nas linhas */
.table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Estilo do Status */
.status {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
}

.status.disponivel {
    background-color: #28a745;
    color: #fff;
}

.status.reservado {
    background-color: #dc3545;
    color: #fff;
}

/* Classe adicional para destacar o fundo do status */
.status.disponivel {
    background-color: #e8f7e7;
}

.status.reservado {
    background-color: #f8d7da;
}

/* Estilo do botão dentro da tabela */
.table td form button {
    padding: 8px 15px;
    background-color: #ff0e0e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.table td form button:hover {
    background-color: #540606;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {

    .table th,
    .table td {
        font-size: 12px;
        padding: 10px;
    }

    .table td form button {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
}


/* Estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


/* Centralizar o título */
.titulo_central {
    text-align: center;
    margin-top: 50px;
}

.titulo_central h1 {
    font-size: 3rem;
    color: #004e92;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Estilos para as seções */
section {
    padding: 50px 20px;
    margin: 0 10px;
}

/* Sessão 1 - Sobre */
#sessao1 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.box1 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.imagembx1 img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    object-fit: cover;
}

.textobx1 {
    flex: 1;
    max-width: 500px;
}

.textobx1 h2 {
    font-size: 2rem;
    color: #004e92;
    margin-bottom: 20px;
}

.textobx1 p {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
}

/* Sessão 2 - Características */
#sessao2 {
    background-color: #e9f7ff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.box2 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.imagensbx2 img {
    width: 100%;
    max-width: 320px;
    border-radius: 8px;
    object-fit: cover;
}

.textobx2 {
    flex: 1;
    max-width: 500px;
}

.textobx2 h2 {
    font-size: 2rem;
    color: #004e92;
    margin-bottom: 20px;
}

.textobx2 ul {
    list-style: none;
}

.textobx2 li {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Sessão 3 - Objetivos */
#sessao3 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.box3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.textobx3 {
    flex: 1;
    max-width: 500px;
}

.textobx3 h2 {
    font-size: 2rem;
    color: #004e92;
    margin-bottom: 20px;
}

.textobx3 ul {
    list-style: none;
}

.textobx3 li {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 10px;
}

.imagembx3 {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    object-fit: cover;
}

/* Responsividade */
@media (max-width: 768px) {

    .box1,
    .box2,
    .box3 {
        flex-direction: column;
        align-items: center;
    }

    .imagembx1 img,
    .imagensbx2 img,
    .imagembx3 {
        width: 80%;
    }

    .textobx1,
    .textobx2,
    .textobx3 {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .titulo_central h1 {
        font-size: 2.5rem;
    }

    .textobx1 p,
    .textobx2 li,
    .textobx3 li {
        font-size: 1rem;
    }
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}

.redirect-message {
    margin-top: 10px;
    font-weight: bold;
    color: #007bff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    font-size: 18px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.password-requirements {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

/* Label e status de disponibilidade */
label {
    font-weight: bold;
}

.quantidade-disponivel {
    font-size: 20px;
    color: #FEF889;
}

.status-disponibilidade {
    font-size: 0.9rem;
    font-weight: bold;
}

.disponivel {
    color: #83C75D;
    font-size: 20px;
}

.indisponivel {
    color: #EE7C6B;
    font-size: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #004e92;
    font-weight: bold;
}